@import 'base';

.container {
  @extend .flex-column-center;
  justify-content: flex-start;
  padding-top: 7rem;
  height: 100%;
}
.progress {
  @extend .flex-row-center;
  align-items: center;
  height: 50%;
}
