{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "chrome": 52,
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": [
    ["lodash", { "id": ["lodash", "recompose"]}],
    "add-module-exports",
    "transform-object-rest-spread",
    "transform-object-assign",
    "transform-class-properties"
  ],
  "env": {
    "es": {
      "comments": false
    },
    "commonjs": {
      "comments": false
    },
    "test": {
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-async-to-generator"
      ]
    }
  }
}
