{
  "presets": [
    "minify",
    "@babel/preset-react",
    ["@babel/env", {
      "targets": {
        "chrome": 52,
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": [
    "lodash",
    "add-module-exports",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "es": {
      "comments": false
    },
    "commonjs": {
      "comments": false
    },
    "test": {
      "presets": [
        ["@babel/env", {
          "targets": {
            "node": "6"
          }
        }]
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/transform-async-to-generator",
        ["module-resolver", {
         "root": ["./src"]
       }]
      ]
    }
  }
}
