.Account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
  &-Settings {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &-Avatar {
    // display: flex;
    // flex-basis: 40%;
    &-New {
      &-DropText {
        height: 100%;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    &-Current {
      width: 100%;
      max-width: 13rem;
      height: auto;
      cursor: pointer;
    }
  }
  &-ImageManager {
    display: flex;
    flex-direction: row;
    &-Preview {
      width: 10rem;
      height: auto;
    }
  }
  &-Meta {
    display:flex;
    flex-basis: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
  &-Logout {

  }
}
