@import 'base';
.container {
  @extend .flex-column-center;
  padding: 2rem;
  margin-bottom: 2rem;
  flex-basis: 60%;
}
.inputSection {
  @extend .flex-row-center;
  align-items: center;
}
.input {
  margin: 2rem;
}
.button {
  margin: 2rem;
}
