@import 'base';

.container {
  padding: 2rem;
}
.inputs {
  @extend .flex-column-center;
  justify-content: center;
  width: 100%;
  input {
    width: 100%;
  }
}
.buttons {
  @extend .flex-column-center;
  justify-content: center;
}
