@import 'base';

.container {
  @extend .flex-column-center;
  justify-content: flex-start;
  flex-grow: 1;
  width: 100%;
  font-size: 1.4rem;
}
.submit {
  @extend .flex-column-center;
  justify-content: center;
  width: 30%;
  min-width: 192px;
  padding-top: 1.75rem;
}
