<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>499842460400-teaflfd8695oilltk5qkvl5688ebgq6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499842460400-teaflfd8695oilltk5qkvl5688ebgq6b</string>
	<key>API_KEY</key>
	<string>AIzaSyAb5QXjcH8xSmAlVy3sJVq1UmDdT-A2CdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>499842460400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devshare-int.ios</string>
	<key>PROJECT_ID</key>
	<string>devshare-int</string>
	<key>STORAGE_BUCKET</key>
	<string>devshare-int.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:499842460400:ios:725656d3fc819109</string>
	<key>DATABASE_URL</key>
	<string>https://devshare-int.firebaseio.com</string>
</dict>
</plist>