.Navbar {
  box-sizing: border-box;
  min-height: 64px;

}
.Navbar-Brand {
  color: $navbarText;
  font-weight: 200;
  flex-direction: row;
  align-items: center;
  display: flex;
  max-width: 140px;
}
.Navbar-Brand-Logo {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.Navbar-Avatar {
  margin-right: 1rem;
}
.Navbar-Main-Menu {
  margin-top: 6px;
  button {
    span {
      font-weight: 300;
      text-decoration: none;
      color: $navbarText;
    }
  }
}
